// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: sans-serif;
  margin: 40px;
}

.random-letters {
  display: flex;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 40px;
  height: 40px;
  background: #00A8CC;
  color: white;
  border: 1px solid #0C7B93;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)
}

.result {

}

input {
  height: 34px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  padding: 0px;
  margin: 0px;
}

#submit {
  height: 34px;
  width: 100px;
  background: #00a8cc;
  color: white;
  font-weight: bold;
}

.link {
  a {
  text-decoration: none;
  font-family: sans-serif;
  color: #6A8CAF;
  &:hover {
    color: #142850;
    }
  }
}
